body {
  margin: 0;
  padding: 0;
  background: #e8e8e8 url(images/main-bg.png) repeat;
  font-family: "Arvo", serif;
  font-size: 14px;
  color: #91919c;
}

h1,
h2 {
  margin: 0px;
  padding: 0px;
  font-family: "Arvo", serif;
  font-weight: 400;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 2.4em;
  display: inline;
}

p,
ul,
ol {
  margin-top: 0;
  line-height: 180%;
}

a {
  text-decoration: none;
  color: #000000;
}

img.aligncenter {
  margin: 0px auto;
}

img {
  padding-block: 10px;
}

#wrapper {
  margin: 0 auto;
  padding: 0;
}

/* Header */

#header {
  overflow: hidden;
  width: 1000px;
  height: 100px;
  margin: 0 auto;
}

/* Logo */

#logo {
  float: left;
  height: 60px;
  margin: 0;
  padding: 0px 0px 0px 0px;
  color: #000000;
}

#logo h1,
#logo p {
  margin: 0;
  padding: 0;
}

#logo h1 {
  float: left;
  padding-left: 30px;
  letter-spacing: -3px;
  text-transform: lowercase;
  font-size: 64px;
}

#logo h4 {
  padding-left: 35px;
  padding-top: 63px;
}

#logo span {
  letter-spacing: normal;
  font-size: 22px;
}

#logo a {
  border: none;
  background: none;
  text-decoration: none;
  color: #000000;
}

/* Menu */

#menu {
  width: 1000px;
  height: 70px;
  margin: 0 auto;
  padding: 0px;
  background-color: #ffffff;
}

#menu ul {
  margin: 0;
  padding: 0px 0px 0px 0px;
  list-style: none;
  line-height: normal;
}

#menu li {
  float: left;
  border-right: 1px solid #e1e1e1;
}

#menu a {
  display: block;
  height: 70px;
  margin: 0px 1px;
  padding: 0px 20px 0px 20px;
  line-height: 70px;
  text-decoration: none;
  font-size: 16px;
  font-weight: normal;
  color: #000000;
}

/* Page */

#page {
  overflow: hidden;
  width: 920px;
  margin: 0px auto;
  padding: 40px 40px;
}

/* Content */

.post {
  padding-bottom: 20px;
  border-bottom: 1px solid #bdbdbd;
}

.post .title {
  padding-bottom: 20px;
  letter-spacing: -1px;
  text-transform: lowercase;
  color: #000000;
}

.post p {
  font-size: 20px;
  padding-top: 20px;
  color: #000000;
}

.post h3 {
  color: #000000;
  font-size: 36px;
}

#column {
  padding-top: 30px;
  text-align: center;
}

#column h2 {
  padding-bottom: 20px;
  letter-spacing: -1px;
  text-transform: lowercase;
  font-size: 30px;
  color: #000000;
}

.list-style {
  margin: 0px;
  padding: 0px;
  padding-top: 30px;
  list-style: none;
}

.list-style li {
  padding: 5px 0px;
  font-size: 18px;
  color: #000000;
  padding-top: 15px;
}

/* Footer */

#footer {
  width: 900px;
  height: 140px;
  margin: 0px auto;
}

#footer p {
  margin: 0;
  padding-top: 30px;
  line-height: normal;
  text-transform: lowercase;
  text-align: center;
  font-size: 14px;
  color: #000000;
}

#footer address {
  text-align: center;
  padding-top: 20px;
}

#banner {
  width: 1000px;
  margin: 0px auto;
}

.kr {
  font-family: "Nanum Gothic", sans-serif;
}
